* {
	box-sizing:border-box;
}

body {
	background:black;
	overflow-x:hidden;
	position:relative;
	z-index:-10000;
}

.btn-hash {
	margin:-15px;
	padding:0;
	background:none;
	border:none;
}

.btn-hash:hover {
	background:none;
	border:none;
	color:darkgrey;
}

.btn-hash:active {
	background:none !important;
	border:none;
	box-shadow:none;
}

.btn-hash:visited {
	background:none;
	border:none;
}

.btn-hash:focus {
	background:none;
	border:none;
}

p {
	font-family: "Open Sans", sans-serif;
}

nav {
    text-align:center;
    margin:auto 0;
	height:70px;
}

.navbar-fixed-bottom {
	border-width:0px !important;
}

.nav-bg {
	width: 110%;
	position: absolute;
	bottom: -200px;
	left: -10px;
	transform: rotate(-1deg);
	-webkit-transition:  300ms ease;
       -moz-transition:  300ms ease;
         -o-transition:  300ms ease;
            transition:  300ms ease;
/*
	opacity: 0.95;
    filter: alpha(opacity=95);
*/
}

nav ul {
	line-height:60px;
	-webkit-transition:  300ms ease;
       -moz-transition:  300ms ease;
         -o-transition:  300ms ease;
            transition:  300ms ease;
}

.content-hero {
	display:none;
    position:fixed;
	top:350px;
    left: 120px;
    margin: 0 auto;
	padding:0px;
	z-index:-101;
}

.content-hero h2 {
	text-align:center;
}

.gk-badge img {
	display:none;
	position:fixed;
	z-index:-101;
    top:100px;
	left:75px;
}

.mobile-only {
	display:none;
}

#gk-header {
	position:fixed;
	z-index: -999;
}

#gk-main-content {
	margin-top:775px;
	background:white;
}

.hero {
	position:fixed;
	width:100%;
	top:0;
	right:0;
}

h2 {
	text-align:center;
	font-size:5rem;
}

h2, h3, footer a {
	font-family: "Cormorant Garamond", serif;
}

.content-hero h3 {
	text-align:center;
	font-size:3.5rem;
	color:navy;
}

.name {
	font-weight:bold;
	font-size:2rem;
}

figcaption {
	position:absolute;
	font-size:5rem;
    font-family: 'Reenie Beanie', sans-serif;
}

.groom figcaption {
	bottom:60px;
	right:65px;
	-webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.bride figcaption {
	bottom:54px;
	left:50px;
	-webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

.bridegroom img {
	width:300px;
	height:auto;
	box-shadow: 1px 1px 5px;
	border: white solid;
	border-width:12px 12px 50px 12px;
}

.groom img {
	float:right;
	display:block;
	margin-left:10px;
	margin-bottom:10px;
	-webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
	 position: relative;
	top:-2px;
	left:8px;
/*	border-radius:10px 40px;*/
}

.groom h3 {
	text-align:right;
}

.bride img {
	float:left;
	display:block;
	margin-right:10px;
	margin-bottom:10px;
	-webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
	transform: rotate(4deg);
	position: relative;
	top:3px;
	left:-15px;
/*	border-radius:40px 10px;*/
}

.couple-pic {
	display:block;
	margin-top:25px;
	width:90%;
	height:auto;
	box-shadow: 1px 1px 5px;
	border: white solid;
	border-width:12px 12px 50px 12px;
	-webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

.couple-pic-mobile {
	display:none;
	width:90%;
	box-shadow: 1px 1px 5px;
	border: white solid;
	border-width:12px 12px 50px 12px;
	-webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

img.hr {
	display:block;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:15px;
}

footer a {
	color:black;
	font-size:2.5rem;
	-webkit-transition:  300ms ease;
    -moz-transition:  300ms ease;
    -o-transition: 300ms ease;
    transition:  300ms ease;
}

footer a:hover {
	text-decoration:none;
	color:darkgray;
}

footer a:active {
	color:darkgray;
	text-decoration:none;
}

footer a:visited {
	text-decoration:none;
}

.bios {
	padding-bottom:60px;
}

.maps {
	margin-top:-10px;
}

.registry {
    position:relative;
    display:block;
	padding-bottom:100px;
}

.registry h2 {
	color:white;
	text-shadow:2px 2px 8px black;
	margin-bottom:40px;
}

.registry img {
	width:100%;
	padding:10px;
	margin-bottom:30px;
}

.registry p {
	font-size:2em;
	padding:20px;
	margin:75px 25px;
	text-align:center;
	background: white;
	border-radius:10px 50px;
}

.knot {
	margin-left:-15px;
	height:1000px;
}

.knot img {
	width:100%;
}

.maps iframe {
	width:100%;
	padding-bottom:50px;
}

.maps {
	color:white;
}

.maps h2 {
	text-shadow:2px 2px 8px black;
	padding:40px 0 100px 0;
}

.maps p {
	text-shadow:2px 2px 8px black;
	font-size:2.2rem;
}

#gk-title {
backface-visibility:hidden;
perspective:1000;
position:fixed;
} 

.engageywagey {
	position:absolute;
	left:0;
	right:0;
	z-index:-1001;
}

.end {
	mix-blend-mode: screen;
	display:none;
	position:fixed;
	right:0;
	padding-left:150px;
	padding-right:50px;
	top:200px;
	z-index:-100;
	background: -webkit-linear-gradient(to left, rgba(240,240,240,1) , rgba(0, 0, 0, 0));
	background:    -moz-linear-gradient(to left, rgba(240,240,240,1) , rgba(0, 0, 0, 0));
	background:      -o-linear-gradient(to left, rgba(240,240,240,1) , rgba(0, 0, 0, 0));
	background:         linear-gradient(to left, rgba(240,240,240,1) , rgba(0, 0, 0, 0));
}

.end h2 {
	color:black;
	font-size:8rem;
	
}

.site-credit {
	font-size:1.2em;
	background-color:#cfd3d5;
	padding:8px 15px 8px 15px;
	position:fixed;
	left:45px;
	border-radius:0 0 7px 7px;
	top:0;
}
	
	@media screen and (max-width:1330px) {
		#gk-main-content {
		margin-top:660px;
	}
}

@media screen and (max-width: 1300px) {
	nav ul {
		line-height:60px;
	}
	
	.navbar-fixed-bottom {
		height:45px;
	}
	
	.content-hero {
	top:350px;
	}
}

@media screen and (max-width: 1280px) {
	#gk-main-content {
		margin-top:550px;
	}
}

@media screen and (max-width: 1199px) {
	.groom figcaption {
	bottom:147px;
}

.bride figcaption {
	bottom:132px;
}
	.end {
		display:none !important;	
	}
}

@media screen and (max-width: 1108px) {
	.navbar-fixed-bottom {
		background:white;
	}
		.nav-bg {
		display:none;
	}
	footer a {
		font-size: 2rem;
	}
	.gk-badge img {
    top:60px;
	left:40px;
	width:40%;
}
	
	.content-hero {
	top:275px;
    left: 90px;
}

.content-hero h2 {
	text-align:center;
	font-size:4rem;
}
	
	#gk-main-content {
	margin-top:410px;
	}
}

@media screen and (max-width: 1108px) {
	.content-hero {
	top:245px;
}
}

@media screen and (max-width:1010px) {
	#gk-main-content {
	margin-top:380px;
	}
	
	.content-hero {
		margin-top: -25px;
	}
	
	.content-hero h2 {
		font-size:3rem;
	}
}

@media screen and (max-width:990px) {
	.groom figcaption {
	bottom:-80px;
}

.bride figcaption {
	bottom:-36px;
}
}

@media screen and (max-width: 895px) {
	footer a {
		font-size:1.5rem;
	}
	.content-hero {
	top:275px;
	}
	
	.box {
	margin-bottom:30px;	
	}
	
	.box:last-child {
	margin-bottom:0px;	
	}
}

@media screen and (max-width: 815px) {
	footer a {
		font-size:1.49rem;
	}
}

@media screen and (max-width: 768px) {
	.groom h3 {
	text-align:left;
}
	.knot {
		margin-top:365px;
		height:240px;
	}
	
	nav li { padding: 0;}
 	nav li a { display: block; padding: 1em; }
	
	footer a {
		font-size:2rem;
	}
	
	#bios, #registry, #address, #maps {
	padding-top:0;
		margin-top:-15px;
		
}
	.reg-content {
			padding-bottom:50px;
		}
	
	nav ul {
		line-height:15px;
	}
	
	.navbar-fixed-bottom {
		height:40px;
	}
	
	footer a {
		font-size: 1.44rem;
	}
	
	.gk-badge img {
    top:50px;
	left:40px;
	width:40%;
}
	
	.content-hero {
		top: 230px;
    left: 60px;
	
}

.content-hero h2 {
	text-align:center;
	font-size:3.2rem;
}
	
	#gk-main-content {
	margin-top:410px;
	}
	
	.registry img {
		
		margin-left:0 auto;
		margin-right:0 auto;
		display:block;
	}
}

@media screen and (max-width:767px) {
	body {
		background:white;
	}
	img.hr {
		width:100%;
		padding-left:20px;
		padding-right:20px;
	}	
	.sz-desktop {
		display:none;
	}
	
	.mobile-only {
		display:block;
	}
	
	.bridegroom img {
		width:100%;
		display:block;
		margin: 0 auto;
}
	
	.couple-pic {
		display:none;
	}
	
	.couple-pic-mobile {
		display:block;
		margin:0 auto;
		margin-top:25px;
		margin-bottom:25px;
	}
	
	h2 {
		font-size:2.9rem;
	}
	
	
	.content-hero h3 {
		font-size:2.8rem;
	}
	.maps p {
		font-size:1.9rem;
	}
	
	.gk-badge img {
    top:0;
	left:0;
	width:100%;
		padding:25px;
		margin-top:-15px;
}
	
	.hero {
		margin-top:-40px;
	}
	
	.content-hero {
		padding-bottom:10px;
		top:600px;
    left: 0;
    right: 0;
}

.content-hero h2 {
	line-height:10px;
}
	
	.content-hero h2, .content-hero h3 {
		color:white;
		text-shadow: 2px 2px 5px black;
	}
	
	#gk-main-content {
	margin-top:605px;
	}
}

@media screen and (min-width: 415px) {	
	.mobile {
		display:none;
	}
}

@media screen and (max-width: 414px) {
	.desktop {
		display:none;
	}
	h2 {
		font-size:3.2rem;
	}
	
	.knot {
		margin-top:320px;
		height:150px;
	}
	
	.bridegroom img {
	width:100%;
	height:auto;
	padding:2px 2px 2px 2px;
	margin-bottom:10px;
}

.groom img {
	float:none;
	margin-right:20px;
}

.groom h3 {
	text-align:left;
}
	
.bridegroom img {
	width:92%;
	}

.bride img {
	float:left;
	margin-left:30px;
}
	
	.content-hero {
		margin-top:-175px;
	}
	
	.groom figcaption {
	bottom:290px;
	right:110px;
}

.bride figcaption {
	bottom: 265px;
    left: 90px;
}
	
	.registry p {
		font-size:1.5em;
		padding:15px;
		margin:0 25px 25px 25px;
	}
}

@media screen and (max-width: 375px) {
	#gk-main-content {
	margin-top:550px;
	}
	
	.content-hero {
		top:540px;
}
	.groom figcaption {
	bottom:310px;
	right:100px;
}

.bride figcaption {
	bottom: 300px;
}
}

@media screen and (max-width: 360px) {
	.groom figcaption {
	bottom:310px;
	right:100px;
}

.bride figcaption {
	bottom: 300px;
}
}

@media screen and (max-width: 320px) {
	#gk-main-content {
	margin-top:485px;
	}
	
		.content-hero {
		top:480px;
}
	
	.content-hero h2 {
		font-size:2.4rem;
		line-height:5px;
	}
	
	.content-hero h3 {
		font-size:2.2rem;
		line-height:8px;
	}
	
	.groom figcaption {
	bottom:390px;
	right:70px;
}

.bride figcaption {
	bottom: 360px;
    left: 70px;
}
	.registry p {
		font-size:1.3em;
		padding:10px;
		margin:0 25px 25px 25px;
	}
}